* {
    box-sizing: border-box;
  
}

.container{
    max-width:495px; 
    min-width:326px;
    padding: 20px;
    margin-left:auto;
    margin-right:auto;
    background-color:white;
    display: flexbox;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex, inline-block;
    font-size: 8px;
    margin:auto;
}

div.header h1 {
    margin:0;
    font-size: 18px;

}

div.header h2 {
    margin:0px;
    font-size:15px;
    margin-bottom:0px;

}

.post-icons {
    display:flex;
}

p {
    margin-top: auto;
    margin-bottom: auto;
}

img {
    width: 100%;
    height: 100%;
    margin:0%;
}

.post-body {
    align-items: center;

}

.fa {
    float:left;
    padding: 10px;
    
}

.glyphicon {
    float:right;
    margin: auto;
    font-size: 30px;
}

i.right {

    margin-left:auto;
    font-size:24px;
}

i.left {
        font-size:30px;
        height: 50px;
        padding-bottom: 0;
        padding-left: 0;
        padding-top: 0;
    
}

i.heart {
    font-size:24px;
}

i.comment {
    font-size:24px;
}

i.sent {
    font-size:24px;
}
